@use "_reset.scss";

:root {
  --color_main1: #fff;
  --color_main2: #000;
  --color_bg: #e4eaf2;
  --color_font-color: #3f704d;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  color: var(--color_font-color);
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
// サイトリンク
.site_link {
  margin: auto;

  #site_link-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 0px #333, 5px 5px 5px 8px #444,
      0 8px 15px rgba(0, 0, 0, 0);
    background-color: #222;
    color: #fff;
    text-align: center;
    transition: all 0.2s;
    outline: none; /* デフォルトのフォーカススタイルを削除します */
    user-select: none; /* テキスト選択を防止します */
  }

  #site_link-btn:active {
    box-shadow: inset 0 -2px #111, 0 1px #666, 0 2px 4px rgba(0, 0, 0, 0.2); /* シャドウを狭くします */
    transform: scale(0.9); /* ボタンを少し縮小します */
  }

  #site_link-btn:hover {
    background-color: #555;
    color: #fff;
  }
}
// セクションタイトル
.section_title {
  display: flex;
  justify-content: center;
  align-items: end;
  margin: 60px auto;
  .section_title_heading {
    font-size: 60px;
    padding-bottom: 10px;
  }
  .animated-img {
    display: inline;
    opacity: 0;
    transition: opacity 2s ease-out 0.7s; /* 1s delay to match the border animation */
  }

  .animated-img.animate {
    opacity: 1;
  }
}
.animated-border {
  position: relative;
  overflow: hidden;
}

.animated-border::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 10px;
  width: 70%;
  background-color: #01b6ff;
  transform: translateX(-100%);
  transition: transform 1s ease-out;
}

.animated-border.animate::after {
  transform: translateX(0);
}

// メインビジュアル
.MV {
  background-color: var(--color_bg);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  .MV_wrap {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 1280px;
    margin: auto;
    padding: 0;
    // flex-direction: column;
    .MV_contaner {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: column;
      padding-left: 60px;

      .MV_contaner_text {
        .MV_contaner_text-lead {
          color: #fff;
          font-size: 30px;
          background-color: #6aa5bd;
          border-radius: 10px;
          width: 550px;
          height: 150px;
          display: flex;
          justify-content: center;
          align-items: center;
          line-height: 1.5em;
          margin-top: 100px;
        }
        .MV_contaner_text_heading {
          font-size: 60px;
          margin: 40px auto;
          white-space: nowrap;
        }
      }
      .MV_contaner_image-left {
        display: flex;
        flex-wrap: wrap;
        margin: 40px auto;
        .MV_contaner_image-left-img {
          width: 300px;
          height: 200px;
          object-fit: cover;

          border-radius: 10px;
        }
      }
    }
    @keyframes spin-grow {
      // 0% {
      //   transform: scale(0.1) rotate(0deg);
      // }
      // 100% {
      //   transform: scale(1) rotate(-360deg);
      // }
      0% {
        transform: translateX(-100%) scale(0.1) rotate(0deg);
      }
      100% {
        transform: translateX(0) scale(1) rotate(-360deg);
      }
    }

    .MV_contaner_image-hero {
      position: absolute;
      width: 800px;
      right: 0;
      z-index: 0;
      .MV_contaner_image-hero-img {
        width: 800px;
        animation: spin-grow 3s ease-out;
      }
    }
  }
}
// おすすめ

.recommend {
  display: flex;
  justify-content: center;
  align-items: center;
  .recommend_contaner {
    .section_title {
      .section_title_heading {
      }
      img {
        width: 100px;
      }
    }
    .recommend_contaner_description {
      .recommend_contaner_description_concept {
        display: flex;
        justify-content: center;
        text-align: center;
        gap: 30px;
        margin: auto;
        margin-bottom: 60px;
        .recommend_img {
          width: 300px;
          height: 300px;
          border-radius: 10px;
        }
        .recommend_text {
          display: flex;
          align-items: center;
          width: 600px;
          font-size: 30px;
        }
      }
    }
  }
}

// サイトリンク
.section_site_link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: var(--color_bg);
}
// footer
.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 80px;
  background-color: #000;
  small {
    color: #fff;
    margin: auto;
  }
}
